.w-100 {
  width: 100%;
}
main {
  width: 100;
  margin-top: 2rem;
  text-align: center;
}

mat-card,
app-photos {
  margin: auto;
  width: 35%;
  display: block;
  margin-top: 2rem;
}

mat-form-field {
  display: block;
}
